.task {
  width: 30rem;
  max-width: 80%;
  margin: auto;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 26%);
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 12rem;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delBtn {
  background-color: rgb(238, 101, 101);
  border-radius: 10px;
  padding: 4px;
}
.delBtn:hover {
  cursor: pointer;
}

.unfinishBtn {
  background-color: rgb(176, 164, 164);
  position: absolute;
}

.finishBtn {
  background-color: rgb(27, 239, 27);
  position: absolute;
}

@media screen and (max-widht: 600px) {
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
